{% extends 'base.html' %}
{% block body %}
  <div class="row aos-init aos-animate" data-aos="fade-in">
    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch mx-auto">
      <div class="card border shadow p-4">
        <form method="POST" action="/contact">
            {% csrf_token %}
          <div class="row">
            <div class="form-group col-md-6 py-2">
              <input type="text" name="name" class="form-control" placeholder="Enter your Name..." />
            </div>
            <div class="form-group col-md-6 py-2">
              <input type="email" name="email" class="form-control" placeholder="Enter your Email..." />
            </div>
            <div class="form-group col-md-12 py-3">
              <textarea class="form-control" name="desc" rows="5" placeholder="Enter your Message..."></textarea>
            </div>
            <div class="form-group col-md-12 mb-0">
              <button type="submit" class="btn btn-primary btn-block" id="full-width-button">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
