{% comment %} <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
    <form method="POST" action="counter">
        {% csrf_token %}
        <div class="mb-3">
          <textarea rows=5 cols=50 name = "words" type="text" class="form-control"aria-describedby="emailHelp"></textarea><br>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
</html> {% endcomment %}

{% comment %} learning to add static files {% endcomment %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css'  %}">
<h1>
    Hi, How are you?
</h1>